html{
    background-color:#fcb1de;
    font-family: Arial, Helvetica, sans-serif;
}

.centrar{
    text-align: center;
}

#fondoBlanco{
    background-color: white;
    color: black;  
}

#nav-bar{
    background-color: black;
    height: 35px;
}

#nav-bar-elem{
    text-decoration: none;
    color:white;
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}

#diseña{
    color: palevioletred;
}

#ordena{
    color: blue;
}

#disfruta{
    color: blueviolet
}

.footer{
    text-decoration: none;
    color:black; 
    font-size: 15px; 
    font-family: Arial, Helvetica, sans-serif;
}

.boton{
    background-color: black; 
    height: 35px; 
    color: white
}

#nav{
    width:60%;
    height: 150px;
}

.galeria img{
    width:250px; 
    height:250px;
}

.ordenes img{
    width:120px; 
    height:120px;
}

textarea{
    width: 268px;
}
